<?xml version="1.0"?>
<launch>
    <!-- 启动摄像头 -->
    <include file="$(find astra_camera)/launch/dabai_u3.launch"/>
    <!-- 启动limo小车的摄像头 -->
    <!-- <include file="$(find limo_camera)/launch/limo_camera.launch"/> -->
    
    <!-- 启动检测节点 -->
    <node name="detector_try" pkg="detector_try" type="detector_node" output="screen">
        <param name="cross_threshold" value="0.7"/>
        <param name="circle_threshold" value="0.7"/>
        <param name="light_threshold" value="200"/>
        <param name="min_contour_area" value="100"/>
    </node>
    
    <!-- 启动可视化节点 -->
    <node name="image_view" pkg="image_view" type="image_view">
        <remap from="image" to="/detector_try/processed_image"/>
    </node>
    
    <!-- 启动RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find detector_try)/rviz/detector.rviz"/>
</launch>
